body {
	margin: 20px
	font-family: 'Work Sans';
}

.hello {
	font-family: 'Work Sans';
	font-size: 300%;
	text-align: center;
  font-weight: 400;
}

.jacqueline {
	font-family: 'Work Sans';
	font-size: 200%;
	text-align: center;
  font-weight: 400;
}

p {
	font-family: 'Work Sans';
	font-weight: 400;
}


.centered {
	text-align: center;
	font-family: 'Work Sans';
  margin-left: 15%;
  margin-right: 15%;
  font-size: 115%;
  font-weight: 300;
}

main {
	padding: 0px 100px;
	font-family: 'Work Sans';
}

.whywontyoucenter {
	margin-left:auto;
	margin-right:auto;
	width:200px;
}

.headshot {
	width: 200px;
	border-radius: 200px;
}

a:link {
	font-family: 'Work Sans';
	text-decoration: none;
	color: #82BBCF;
}

a:visited {
	font-family: 'Work Sans';
	text-decoration: none;
	color: #82BBCF;
}

a:hover {
	font-family: 'Work Sans';
	text-decoration: none;
	color: #616365;
}

a:active {
	font-family: 'Work Sans';
	text-decoration: none;
	color: #616365;
}

.contactme {
	margin-left: 5%;
	margin-right: 5%;
	border: none;
	padding: 10px;
	font-family: 'Work Sans';
	text-align: center;
}

a .contactme {
  padding: none 5px none 5px;
}

/* Mobile tablet*/
   @media (max-width: 30em) {
	   main {
	   	padding: 0px;
	   }
	   
	   .contactme {
	   	margin-left: 5%;
	   	margin-right: 5%;
	   	border: none;
	   	padding: 10px;
	   	font-family: 'Work Sans';
	   	text-align: center;
	   }
	   
	   .centered {
		   font-size: 150%;
       margin-left: 20px;
       margin-right: 20px;
	   }
   }

/* Portrait tablet */
   @media (min-width: 30em) and (max-width: 50em) {
	   main {
	   	padding: 0px;
	   }
	   
	   .contactme {
	   	margin-left: 15%;
	   	margin-right: 15%;
	   	border: none;
	   	padding: 10px;
	   	font-family: 'Work Sans';
	   	text-align: center;
	   }
	   
	   .centered {
		   font-size: 150%;
	   }
   }