
.header {
	background: #ff008a; 
	margin-bottom: 5px;
	text-align: center;
	color: #FFFFFF;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}

.footer {
	padding: 10px;
	text-align: center;
	color: #000000;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background: #FFFFFF;
	border-top: 1px solid black;
}

.article-link {
  margin-bottom: 1px;
	text-align: center;
}

.article-page-header {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}

.article-page-content {
  font-family: "Georgia", serif;
}

.article-image {
  width: 350px;
  height: 200px;
}

.article-page-image {
  margin-top: 20px;
  width: 350px;
  height: 200px;
}

#article-headline {
  padding: 10px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}

#bookmarks-page-header {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}

.podcast-header {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}

.podcast-page-content {
  font-family: "Georgia", serif;
}

.podcast-audio-player {
  border: 1px solid #000000;
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
}

.podcast-right-arrow {
  font-size: 200%;
  display: inline;
}

.podcast-left-arrow {
  font-size: 200%;
  display: inline;
}

.podcast-arrows-container {
  text-align: center;
}

.podcast-logo {
  width: 130px;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul {
	display: block;
	list-style-type: none;
}

li { 
	overflow: hidden;
	border: 1px solid black;
}

a:link, a:visited, a:hover, a:active {
	color: #000000;
	text-decoration: none;
}

#back-button {
	position: absolute;
	top: 25px;
	left: 20px;
}

#add-button {
  position: absolute;
  top: 25px;
  right: 20px;
}